@import url(https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css);

/*=========================================== Side navigation dashboard ===========================================*/

.l-navbar {
    position: relative;
    top: 0;
    left: 0;
    width: 56px;
    min-height: 150vh;
    background-color: var(--first-color);
    padding: 1.25rem .5rem 2rem;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: var(--z-fixed);
    box-shadow: 10px 10px 10px var(--first-color);
}

.nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
}

.nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 .5rem;
}

.nav-logo-icon {
    width: 35px;
    margin-right: 10px;
    margin-left: -4px;
    justify-content: center;
    align-items: center;
}

.nav-logo-text {
    color: var(--white-color);
    font-weight: 700;
}

.nav-toggle {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    font-size: 2rem;
    color: var(--second-color);
    margin-bottom: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.nav-toggle:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.l-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--white-color);
    -webkit-transition: .3s;
    transition: .3s;
}

.nav-list .l-nav-link:hover {
    background-color: var(--second-color);
    color: var(--first-color);
}

.nav-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.nav-text {
    font-weight: 700;
}


/*Show menu*/

.show-l-navbar {
    width: 170px;
    display: block;
    padding-right: 1rem;
}


/*Rotate toggle*/

.rotate180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s;
}


/*Active links menu*/

.active {
    background-color: var(--second-color);
    color: var(--first-color);
    text-decoration: underline;
}


/*Add padding body*/

.expander {
    /* padding: 1rem 0 0 12rem; */
    -webkit-transition: .5s;
    transition: .5s;
}

a.l-nav-link {
    text-decoration: none;
}

a.l-nav-link.active .nav-text {
    text-decoration: underline;
}

.nav-toggle-small {
    width: 18px;
    height: 18px;
}